* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

body {
  min-height: 100vh;
  font-size: 1.3em;
}

.boton-sin-sombra {
  all: unset;
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', sans-serif;

}

h1{
  font-size: 2.5em;

}
h2,
h3 {
  font-size: 1.6em;
  font-weight: 500;

}

.enlace-3 {
  color: #121212;
}

a {
  text-decoration: none;
  font-weight: 500;
}



.email {
  background-image: url('../img/icon/sobre.png');
  background-size: cover;
}

.facebook {
  background-image: url('../img/icon/facebook.png');
  background-size: cover;
}

.instagram {
  background-image: url('../img/icon/instagram.png');
  background-size: cover;
}

.email-blanco {
  background-image: url('../img/icon/sobre\(1\).png');
  background-size: cover;
}

.facebook-blanco {
  background-image: url('../img/icon/facebook\(1\).png');
  background-size: cover;
}

.instagram-blanco {
  background-image: url('../img/icon/instagram\(1\).png');
  background-size: cover;
}

.ubicacion-blanco {
  background-image: url('../img/icon/ubicacion.png');
  background-size: cover;
  align-self: center;
}

.boton-primario,
.boton-secundario,
.boton-terciario {
  border-radius: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 500;
  display: inline-block;
  height: 50px;
  text-align: center;
  cursor: pointer;
  width: 150px;
  font-size: 1.2em;
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

span.boton-primario,
span.boton-secundario,
span.boton-terciario {
  padding-top: 9px;
}

.boton-primario {
  background-color: #93C01F;
  color: #F7F7F7;
}

.boton-secundario {
  background-color: #cb6370;
  color: #F7F7F7;
}

.boton-terciario {
  background-color: #F7F7F7;
  color: #93C01F;
}

.boton-primario:hover {
  background-color: #a1c644;
}

.boton-secundario:hover {
  background-color: #cd747e;
}

.boton-primario:active,
.boton-secundario:active,
.boton-terciario:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*______Accesibilidad______*/
.accesible .boton-primario {
  color: #121212;
}

.accesible .boton-secundario {
  color: #121212;
}

/*______________________________Header_____________________________*/


header {
  display: flex;
  justify-content: center;
}

nav {
  background-color: #F7F7F7;
  border: 1px solid #93C01F;
  border-radius: 10PX;
  box-shadow: 4px 4px 4px #323437;
  width: 90%;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  padding: 0.3em 1em;
}

.nav-articulos {
  position: relative;
}

nav .logo {
  height: 56px;
  transition: 1s ease-in-out;
  /* _______ Transformación 1 _______*/
}

nav .logo:hover {
  transform: rotate(360deg);
  /* _______ Transformación 1 _______*/
}

.icono-menu {
  display: none;
}


nav .enlaces {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

nav .enlaces li:nth-child(2) {
  min-width: 100px;
}

nav a {
  color: #121212;
  font-weight: 500;
}

.select {
  text-decoration: underline;
}

.icono-menu {
  width: 30px;
  cursor: pointer;
}


/*_____Accesibilidad_____*/
.temas {
  display: flex;
  gap: 1em;
  justify-content: end;
}

.temas a {
  cursor: pointer;
}

/*_______________________*/

@media (width <=917px) {
  nav ul {
    position: absolute;
    flex-direction: column;
    background-color: #323437;
    opacity: 0;
    visibility: hidden;
    right: 0;
    top: 30px;
    margin-top: 1em;
    border-radius: 10px;
  }

  .enlaces.nav-visible {
    opacity: 1;
    visibility: visible;
  }

  nav .enlaces li {
    padding: 1em 2em;
    align-self: flex-end;
  }

  nav .enlaces a {
    color: #F7F7F7;
  }

  nav .enlaces a:hover {
    color: #93C01F;
  }

  .icono-menu {
    display: block;
  }

  .select {
    text-decoration: none;
  }

}

@media (849px <=width <=1300px) {
  nav .enlaces {
    gap: 1em;
  }
}

@media (1300px <=width <=1099px) {

  nav .enlaces {
    gap: 2em;
  }
}

@media (width > 1099px) {
  nav .enlaces {
    gap: 3em;
  }
}

/* Breadcrumb */
div.breadcrumb {
  top: 0;
  position: sticky;
  margin: auto;
  z-index: 1;
  margin-top: 5px;
  background-color: #F7F8F9;
  box-shadow: 4px 4px 3px #D7D7D7;
}

ul.breadcrumb {
  padding: 8px 16px;
  list-style: none;
  border-radius: 10px;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li::before {
  padding: 8px;
  content: url('../img/icon/gato\(3\).png');
}

ul.breadcrumb a {
  text-decoration: none;
  color: #121212;
}

ul.breadcrumb li a.active {
  font-weight: 500;
}

ul.breadcrumb li a:hover {
  color: #93C01F;

}

/*______________________________Sección 1 Home_____________________________*/
.seccion-1 {
  overflow: hidden;
  box-shadow: 2px 2px 3px #121212;
}

.fondo-seccion-1 {
  background-image: url('./src/assets/fondos/disparo-horizontal-dos-gatos-sentados-sobre-fondo-borroso.jpg');
  background-size: cover;
  position: absolute;
  background-position: center;
}

.cubre-fotos {
  background-color: #121212;
  position: absolute;
  opacity: 0.7;
}

.seccion-1,
.seccion-2,
.seccion-3,
.fondo-seccion-1,
.cubre-fotos,
.fondo-seccion-2,
.fondo-seccion-3,
.quienes-somos,
.contenedor-fondo,
.blog {
  min-height: 800px;
  height: 100vh;
  width: 100%;
  min-width: 770px;
}

.texto-seccion-1 {
  top: 40%;
  position: absolute;
  display: grid;
  grid-template-rows: 100px 100px 217px;
  align-items: center;
  transition: all 1s cubic-bezier(.68, -0.55, .27, 1.55);
  padding: 0 4em;
  /* _______ Transición 1 _______*/
  /* left: -150%; */
  /* _______ Transición 1 _______*/
}

.texto-seccion-1-transicion {
  left: 1em;
  /* _______ Transición 1 _______*/
}

.seccion-1 h1 {
  color: #F7F7F7;
}

.texto-seccion-1 p {
  color: #F7F7F7;
  line-height: 2.5em;
}

div.botones {
  display: flex;
  justify-content: space-between;
  max-width: 380px;
}

@media (width <=574px) {
  .fondo-seccion-1 {
    background-image: url('../img/disparo-horizontal-dos-gatos-sentados-sobre-fondo-borroso-400x800.jpg');
  }
}

@media (width <=800px) {

  .seccion-1,
  .seccion-2,
  .seccion-3,
  .fondo-seccion-1,
  .cubre-fotos,
  .fondo-seccion-2,
  .fondo-seccion-3,
  .quienes-somos,
  .contenedor-fondo,
  .blog {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    min-width: 0;
  }

  .texto-seccion-1 {
    padding: 1em;
  }

  div.botones {
    max-width: 330px;
  }
}


/*______________________________Sección 2 Home_____________________________*/

.seccion-2,
.seccion-3 {
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.seccion-2 {
  padding: 0 3em;
  display: grid;
  grid-template-columns: minmax(370px, 50%) 50%;
  align-items: center;
}

.fondo-seccion-2,
.fondo-seccion-3 {
  position: relative;
}

.fondo-seccion-2 {
  background-image: url('../img/svg/fondo-seccion-2.svg');
}


/*
.seccion-2:hover .texto-secc-2.espacio-izq-sec-1 {
  left: 10%;
   _______ Transición 2 _______
  }
  */

.texto-secc-2 {
  border-left: 2px solid #93C01F;
  padding: 2em;
  color: #323437;
  /* left: -80%; */
  /* _______ Transición 2 _______*/
  transition: all 0.9s 0.1s ease-in-out;
  /* _______ Transición 2 _______*/
  justify-self: center;
  max-width: 40vw;
  max-width: 458px;
  width: 100vw;
}

.texto-secc-2-transicion {
  left: 10%;
  position: relative;
}

.texto-secc-2 a {
  color: #121212;
  font-weight: 500;
}

.titulo-texto {
  color: #93C01F;
  margin-bottom: 15px;
  width: fit-content;
}

.seccion-2 p {
  font-weight: lighter;
  line-height: 2em;
}

.redes-sociales {
  height: 80px;
  display: flex;
  justify-content: space-between;
  width: 160px;
  align-items: center;
}

.redes-sociales div {
  width: 30px;
  height: 30px;
}

.seccion-2 .boton {
  margin-top: 15px;
  position: relative;
  z-index: 0;
}

/*______________________Carrousel_______________________*/
.carrousel {
  width: 90%;
  max-width: 120em;
  grid-column: 2/3;
  padding: 2em;
  overflow: hidden;
  border-radius: 40px;
  top: 5%;
  position: relative;
  /*Transición*/
  transition: all 0.9s 0.1s ease-in-out;
  /* left: 100%; */
}

.carrousel-transicion {
  left: 0;
}

.carrousel .grande {
  width: 400%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  transition: all .5s ease;
  transform: translateX(0%);
}

.carrousel img,
.carrousel video {
  width: calc(100% / 4);
  min-height: 10vh;
  margin-right: 5em;
  cursor: pointer;
}

.carrousel .elementos:last-child {
  margin-right: 0;
}

.carrousel .puntos {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.carrousel .punto {
  cursor: pointer;
  width: 1em;
  height: 1em;
  background-color: #a1c644;
  border: 1px solid #F7F7F7;
  margin: 1em;
  border-radius: 25px;
  box-shadow: 2px 2px 3px #555962;

}

.carrousel .punto-activo {
  background-color: #F7F7F7;
  border: 1px solid #93C01F;
}

.carrousel img,
.carrousel video {
  border: 10px solid white;
  border-radius: 40px;
  box-shadow: 2px 2px 3px #555962;
}

/* Tooltip */
.texto-secc-2 .tooltip {
  bottom: 66%;
  left: 53%;
  border: 1px solid #93C01F;
}

.texto-secc-2:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/*_______________________Lightbox_______________________*/
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  gap: 1em;
  background-color: #323437c1;
}

.lightbox.activo {
  display: flex;
}

.lightbox .cerrar {
  width: 3em;
  height: 3em;
  cursor: pointer;
  box-shadow: 2px 2px 3px #555962;
  font-size: large;
  font-weight: bold;

}

.lightbox .img-grande {
  max-width: 90%;
  max-height: 80%;
  box-shadow: 2px 2px 3px #555962;
  border-radius: 30px;
  display: none;
}

.lightbox .img-grande.activo {
  display: block;
}

.lightbox .video-grande {
  max-width: 90%;
  max-height: 80%;
  box-shadow: 2px 2px 3px #555962;
  border-radius: 30px;
  display: none;
}

.lightbox .video-grande.activo {
  display: block;
}

/*______Accesibilidad______*/
.accesible .fondo-seccion-2 {
  background-image: url('../img/svg/fondo-seccion-2-accesible.svg');
}

.accesible .titulo-texto {
  color: #121212;
  border-bottom: 2px solid #93C01F;
}

@media (width <=800px) {
  .seccion-2 {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 10em 2em;
    min-height: 1400px;
  }

  .tooltip {
    display: none;
  }

  .texto-secc-2 {
    margin: 0;
    max-width: none;
    width: auto;
    box-shadow: 3px 3px 3px 3px #555962;
    border-radius: 30px;

  }

  .texto-secc-2-transicion {
    left: 0;
  }
}


/*______________________________Sección 3 Home_____________________________*/

.tabs {
  width: 80%;
  position: relative;
}

.tab {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 30px;
  position: absolute;
  visibility: hidden;
  border: 3px solid #93C01F;
  border-left: none;
  border-radius: 0 10px 10px 10px;
  box-shadow: 3px 3px 3px #555962;
}

.activo {
  visibility: visible;
}

.titulo-tab {
  color: #cb6370;
}

.tab img {
  height: 55px;
  width: 55px;
}

.tabs,
.selectores {
  height: 65vh;
  transition: all 0.9s 0.1s cubic-bezier(.68, -0.55, .27, 1.55);
  /* _______ Transición 3 _______*/
  top: 120%;
  /* _______ Transición 3 _______*/
}

.tabs-transicion,
.selectores-transicion {
  transform: translateY(-134%);
  /* _______ Transición 3 _______*/
  /* _______ Transformación 2 _______*/
}

.tab,
.boton-tab {
  background-color: #F7F7F7;
}

.selectores {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  position: relative;
}

.boton-tab:first-child {
  border-radius: 10px 0 0 0;
}

.boton-tab:last-child {
  border-radius: 0 0 0 10px;
}

.boton-tab {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
  color: #93C01F;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #93C01F;
  opacity: 0.7;
  position: relative;
}

.boton-tab:hover {
  box-shadow: 3px 3px 3px #323437;
}

.tab-activo {
  box-shadow: 3px 3px 3px #555962;
  border-width: 3px;
  border-right: none;
  opacity: 1;
  left: 5px;
  z-index: 1;
}



.tab-texto,
.tab-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: .5em;
}

.tab-imagen img {
  width: 80%;
  height: auto;
  border: 1px solid #93C01F;
  padding: 1em;
}

.tab-texto img {
  height: 74px;
  width: 74px;
}

.tab .descripcion {
  max-width: 400px;
}

.card-email {
  color: #93C01F;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (width <=800px) {
  .tab-imagen {
    visibility: hidden;
    display: none;
  }

  .seccion-3 {
    grid-template: 70vh / 1px minmax(140px, 20vw) minmax(300px, 80vw);
    padding-top: 20vh;
  }

  .tab {
    display: flex;
    justify-content: center;
    padding: 1em;
  }

  .tabs {
    width: 95%;
  }

  .boton-tab {
    left: 3em;
  }

  .boton-tab.tab-activo {
    left: 0.5em;
  }
}

/*______Accesibilidad______*/

.accesible .titulo-tab {
  color: #121212;
  border-bottom: 2px solid #cb6370;
}

.accesible .card-email {
  color: #121212;
  font-weight: bold;
}

.accesible .boton-tab {
  color: #121212;
}

.accesible .seccion-3 {
  background-image: url('../img/svg/fondo-seccion-3-negro.svg');
}

/*______________________________Footer_____________________________*/
.footer {
  background-color: #555962;
  height: 400px;
  width: 100%;
  /*min-width: 1100px;*/
}
/*______Accesibilidad______*/
.accesible .footer {
  background-color: #46494f;
}
.texto-footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 85% 15%;
  height: 100%;
  justify-items: center;
  min-width: 742px;
}

footer .contacto,
footer .enlaces,
footer .ubicacion {
  display: grid;
  grid-template-rows: 81px repeat(4, 45px);
  align-items: center;
  width: 200px;
}

footer .contacto,
footer .ubicacion {
  grid-template-columns: 24px auto;
}

.enlaces {
  grid-template-columns: 100%;
}

.enlaces a {
  grid-column-start: 1;
  grid-column-end: 3;
}

footer .contacto div,
footer .ubicacion div,
.contacto .ubicacion div {
  width: 20px;
  height: 20px;
}

.footer h3 {
  color: #F7F7F7;
  align-self: end;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.3em;
  justify-self: left;
}

.footer a {
  color: #F7F7F7;
  font-weight: lighter;
}

.footer-footer {
  display: grid;
  grid-template-rows: 10% 42% 20%;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}

.footer-footer hr {
  color: #F7F7F7;
  width: 100vw;
  height: 2px;
  justify-self: center;
}

.footer-footer a {
  justify-self: center;
  font-size: .8em;
}

footer .ubicacion iframe {
  grid-column: 1/3;
  grid-row: 4/6;
  border-radius: 4%;
}

@media (width <=800px) {
  .texto-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    min-width: 100vw;
    padding: 2em;
  }

  .texto-footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1em;
    text-align: center;
  }

  .footer {
    height: auto;
  }

  .footer-footer hr {
    width: auto;
  }

  .footer h3 {
    align-self: center;
  }
}

/*______________________________Sección 1 Quienes Somos_____________________________*/

.contenedor-fondo {
  background-position: center;
  background-size: cover;
  background-image: url('../img/svg/fondo-quienes-somos-verde.svg');
  height: 100vh;
}

.contenido {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 3em;
}


.quienes-somos .imagenes img,
.contacto iframe {
  border: 20px solid white;
  border-radius: 40px;
}


.texto-quienes-somos {
  /* El texto de la derecha*/
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1.5em;
  background-color: #F7F7F7;
  border-radius: 2em;
  padding: 1em;
}

.texto-quienes-somos h1,
.texto-quienes-somos p,
.texto-quienes-somos div {
  color: #121212;
}

.texto-quienes-somos p {
  font-weight: lighter;
  letter-spacing: 0.05em;
  color: #323437;
}

.imagen-quienes-somos {
  /* La imagen de la izquierda*/
  max-width: 492px;
}

.imagen-quienes-somos img {
  width: 90%;
  height: 92%;
}

.imagen-quienes-somos picture {
  display: flex;
  justify-content: end;
}

.quienes-somos .redes-sociales {
  align-self: center;
  width: 80%;
  justify-content: space-around;
}

/*________ Tooltip ________*/
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #F7F7F7;
  color: #93C01F;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.imagen-quienes-somos .tooltip {
  bottom: 12%;
  left: 30%;
}

.imagen-quienes-somos:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/*______Accesibilidad______*/
.accesible .tooltip {
  color: #121212;
}

.accesible .contenedor-fondo {
  background-image: url('../img/svg/fondo-quienes-somos-negro.svg');
}

.accesible .tabla {
  background-color: #121212;
}

.accesible .tabla p {
  color: #F7F7F7;
}

/* ____Añadida tabla_____*/
.tabla {
  height: auto;
  background-color: #B4D363;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  color: #121212;
}
.tabla h2 {
  padding: 1em;
  background-color: #F7F7F7;
  width: 100%;
  text-align: center;

}
.tabla p {
  width: 70%;
  max-width: 500px;
  padding: .5em;
}
.tabla table {
  color: #121212;
  background-color: #F7F7F7;
  width: 80%;
  vertical-align: middle;
  text-align: center;
  border-collapse: collapse;
}

.tabla tr {
  height: 4em;
}

.tabla th {
  width: 50%;
  font-weight: 500;
}
.tabla caption {
  padding-top: 1em;
  background-color: #121212;
  color: #F7F7F7;
  height: 4em;
}
.tabla td, .tabla th, .tabla caption {
  border: 0.3em solid #a1c644;
}

.final-tabla {
  width: 100vw;
  background-color: #F7F7F7;
  height: 148px;
}

@media (width <=900px) {

  .quienes-somos,
  .accesible .contenedor-fondo {
    height: 1500px;
  }

  .texto-quienes-somos {
    align-items: center;
    box-shadow: 3px 3px 3px 3px #555962;
    width: 90%;

  }

  .texto-quienes-somos p {
    text-align: justify;
  }

  .quienes-somos .contenido {
    display: flex;
    flex-direction: column;
    gap: 0em;
    justify-content: space-evenly;
  }

  .imagen-quienes-somos.imagenes img {
    width: 100%;
    height: auto;

  }

  .imagen-quienes-somos {
    width: 80%;
  }
  .accesible .contenedor-fondo {
    background-image: url('../img/svg/fondo-quienes-somos-negro-900.svg');
  }

 .tabla{
   max-height: 1220px;
  }
}


/*______________________________Sección 1 Contacto_____________________________*/

.contacto.contenedor-fondo {
  background-image: url('../img/svg/fondo-contacto-verde.svg');
  position: inherit;
  height: 110vh;
}

.contactanos {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-top: 5em;
}

.contacto .ubicacion {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 2em;
  max-width: 550px;

}

.contactanos .ubicacion a {
  color: #F7F7F7;
  margin: 10px 0;
}

.contacto .ubicacion>a {
  display: flex;
  justify-content: space-around;
  width: 155px;
  align-self: center;
}

.texto-contacto h1 {
  color: #93C01F;
}

.texto-contacto p {
  color: #323437;
  width: 300px;
}

.texto-contacto {
  display: flex;
  padding-left: 100px;
  flex-direction: column;
}

.contacto form {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  gap: .6em;
}

.contacto input {
  border: none;
  border-bottom: 1px solid #323437;
  transition: all .3s linear;
  border-radius: 0;
  box-shadow: none;
  padding-bottom: 0.5em;
  outline: none;
  width: 100%;
  max-width: 300px;
  padding: .5em;
}

.linea-input {
  border-bottom: 3px solid #93C01F;
  width: 0;
  transition: 0.2s all ease;
}

.contacto input:focus+.linea-input,
textarea {
  width: 300px;

}

.contacto input:focus {
  border-bottom: 0;
}


.input-icon {
  display: none;
  position: relative;
  width: 15px;
  left: 270px;
  transform: translateY(-185%);
}

.icono-visible {
  display: block;
}


label {
  font-weight: 500;
}

textarea:focus-visible {
  outline: none;
  border: 3px solid #93C01F;
}

textarea {
  color: #555962;
  height: 8em;
  padding: 0.5em;

}

.contacto button {
  align-self: center;
  margin-top: 1em;
}

/*Accesibilidad*/
.accesible .texto-contacto h1,
.accesible .contactanos .ubicacion a {
  color: #121212;
}

.accesible .contactanos .ubicacion-blanco {
  background-image: url('../img/icon/ubicacion-negro.png');
}

.accesible .contacto.contenedor-fondo {
  background-image: url('../img/svg/fondo-contacto-negro.svg');
}
.accesible .contactanos .ubicacion a {
  color: #F7F7F7;
}
.accesible .contactanos .ubicacion-blanco {
  background-image: url('../img/icon/ubicacion.png');
}

@media (width <=900px) {
  .contactanos {
    flex-direction: column-reverse;
    height: auto;
    padding-top: 7em;
    gap: 5em;
  }

  .texto-contacto {
    padding-left: 0;
    gap: .5em;
  }

  .contacto .ubicacion {
    width: 90%;
    max-width: 550px;
    padding-right: 0;
    gap: 2em;
  }

  .contacto.contenedor-fondo,
  .accesible .contacto.contenedor-fondo {
    background-image: url('../img/svg/fondo-quienes-somos-verde-900.svg');
    height: 1500px;
  }
  .accesible .contacto.contenedor-fondo {
    background-image: url('../img/svg/fondo-quienes-somos-negro-900.svg');
  }
  .contactanos .ubicacion-blanco {
    background-image: url('../img/icon/ubicacion-negro.png');
  }


  .contactanos .ubicacion a {
    color: #121212;
  }

  .contacto input,
  .contacto textarea {
    box-shadow: 3px 3px 3px 3px #555962;

  }

  .contacto input:focus {
    border-bottom: 3px solid #93C01F;
  }
}


/*______________________________ Blog _____________________________*/

 .blog {
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  gap: 2em;
  padding: 6em 4em;
  max-width: 1246px;
  height: fit-content;
  justify-content: center;
 } 

#blog {
  min-height: 1025px;
  display: flex;
  justify-content: center;
  height: fit-content;

}

.titulo-blog {
  text-align: center;
  width: 100vw;

}

.blog h1 {
  color: #121212;
}

.blog img {
  border-radius: 15px;
  align-self: center;
  box-shadow: 4px 4px 4px #D7D7D7;
}

.destacado,
.articulos {
  display: flex;
  gap: 2em;

  box-shadow: 4px 4px 4px 4px #D7D7D7;
  padding-left: 25px;
  padding-right: 25px;
}
@media (width <=727px) {
  .destacado,
  .articulos {
    flex-direction: column;
    padding: 25px;
  }

}

.destacado {
  width: 749px;
  min-height: 343px;
  height: fit-content;
}

.destacado img {
  width: 170.5px;
  height: 256px;
}

.articulos {
  width: 492px;
  min-height: 343px;
  height: fit-content;
}

.articulos img {
  width: 117px;
  height: 176px;
}

.novedades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5em;
  background-color: #F7F8F9;
  width: 287px;
  box-shadow: 4px 4px 4px 4px #D7D7D7;
  justify-self: end;
  height: 343px;
}

.entrada p:first-child a {
  color: #121212;
  font-weight: 500;

}
.entrada p:last-child{
  font-size: 0.7em;
}

.entrada p:first-child {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 220px;

}

.leer-mas {
  color: #93C01F;
  text-decoration: underline;
}
.leer-mas>a{
  font-weight: 500;
  color: #93C01F;
 }

.texto-articulo {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  height: 80%;
}

.texto-largo {
  color: #323437;
}

/*Accesibilidad*/
.accesible .leer-mas {
  cursor: pointer;
  border-radius: 20px;
  height: 50px;
  max-width: 160px;
  background: #121212;
  border: 1px solid #93C01F;
  box-shadow: 0px 2px 0 #93C01F, 2px 4px 6px #a1c644;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.accesible .leer-mas>a{
  font-family: 'Bebas Neue', sans-serif;
  color: #D7D7D7;
  
}

.accesible .leer-mas:hover {
  background: #323437;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #93C01F;
  text-shadow: -1px -1px 0 #323437;
  transition: all 250ms linear;
}
.accesible .leer-mas:hover>a{
  color: #93C01F;
  
}

/*______________________________ Artículo Blog _____________________________*/


.articulo {
  overflow: hidden;
  box-shadow: 2px 2px 3px #121212;
  min-height: 100vh;
  min-width: 1100px;
  width: 100%;
}

.articulo article {
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  border-left: 2px solid #93C01F;
  border-right: 2px solid #93C01F;
}


.articulo h1 {
  color: #121212;
  align-self: center;
  border-bottom: 2px solid #93C01F;
}

.cabecera {
  display: grid;
  grid-template-columns: 224px auto;
  grid-template-rows: auto;
  align-items: center;
  margin-top: 50px;
}

.cabecera iframe {
  justify-self: center;
  grid-column: 1/3;
}

.img-cabecera {
  width: 224px;
  height: 256px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  box-shadow: 4px 4px 4px #D7D7D7;
}

.articulo-1 .img-cabecera {
  background-image: url('../img/gato-gris-y-blanco.jpg');
}

.texto-cabecera {
  grid-column: 2 / 3;
  padding: 30px;
  min-width: 350px;
}

.texto-cabecera p {
  margin-bottom: 5px;
}

.articulo .cuerpo {
  margin-top: 30px;
}

.logo-vertical {
  background-image: url('../img/logo/logo-vertical.png');
  width: 411px;
  height: 99px;
  background-size: cover;
  margin: 30px auto 100px auto;
}

/*______________________________ Acordeón _____________________________*/

strong,
summary {
  font-weight: 500;
}

.articulo details,
.cuerpo p {
  margin-bottom: 30px;
  color: #323437;
}

.articulo summary {
  list-style: none;
  cursor: pointer;
}

.articulo summary::before {
  content: url('../img/icon/pata.png');
}

.articulo details[open] summary::before {
  content: url('../img/icon/pata-girada.png');
}

/*https://www.flaticon.es/iconos-gratis/gato*/

.articulo details p {
  padding-left: 20px;
}

/*______________________________ Artículo Blog Beneficios _____________________________*/

.sonidos {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.sonidos div {
  border: 2px dotted #a1c644;
  padding: 10px;
  width: fit-content;
  margin: 10px;
}

.sonidos p:first-child {
  color: #93C01F;
  font-weight: 500;
}

.sonidos small {
  font-size: 0.6em;
}

.articulo-3 .img-cabecera {
  background-image: url('../img/gata-carey.jpg');
}

.articulo-3 .cuerpo .video {
  display: flex;
  justify-content: center;
}

/* Tooltip */
.tooltip-sonidos1 {
  bottom: 555px;
  left: 411px;
  border: 1px solid #93C01F;
}

.ronroneo:hover+.tooltip-sonidos1 {
  visibility: visible;
  opacity: 1;
}
.tooltip-sonidos2 {
  bottom: 555px;
  left: 711px;
  border: 1px solid #93C01F;
}

.maullido:hover+.tooltip-sonidos2 {
  visibility: visible;
  opacity: 1;
}

/*Accesibilidad*/
.accesible .sonidos p {
  color:#121212;
}